section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 920px;
    margin: 60px auto;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}
  
.table {
    overflow: auto;
    max-height: 500px;
}

.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.pointer{
    cursor: pointer;
}