<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="fab fa-angular"></i>
    <span>FrontEnd Developer</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <a href="https://github.com/fernandoarevalo/test-frontend-developer">
      <i class="fab fa-github"></i>
      <span class="github-button">GitHub</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<section>
  <mat-card>
    <div class="filters">
      <mat-form-field class="filters-form-fields">
        <mat-select placeholder="Sort products" name="sp" [(ngModel)]="orderByProd">
          <mat-option [value]="'name'">Name</mat-option>
          <mat-option [value]="'higherPrice'">Higher price</mat-option>
          <mat-option [value]="'lowerPrice'">Lower price</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filters">
      <mat-form-field class="filters-form-fields">
        <mat-select placeholder="Category" name="cat" [(ngModel)]="productCategory">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.categori_id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filters-form-fields">
        <mat-select placeholder="Others filters" name="pa" [(ngModel)]="productAvailable">
          <mat-option>None</mat-option>
          <mat-option [value]="true">Avaible</mat-option>
          <mat-option [value]="'false'">Not avaible</mat-option>
          <mat-option [value]="'best_seller'">Best seller</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <input matInput name="term" [(ngModel)]="product" placeholder="Filter by product name">

    <div class="container">
      <mat-card class="products" *ngFor="let product of products | filter : {field: 'name', product: product } | filter : {field: 'categories', product: productCategory } | filter : {field: 'available', product: productAvailable } | filter : {field: 'best_seller', product: productBestSeller } | orderBy: {property: orderByProd}">
        <mat-card-title-group>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-title>{{product.price}}</mat-card-title>
          <mat-card-subtitle *ngFor="let category of product.categories">{{categories[category - 1].name}}</mat-card-subtitle>
          <img mat-card-sm-image src="{{product.img}}">
        </mat-card-title-group>
        <mat-card-content>
          <p>{{product.description}}</p>
          <p *ngIf="!product.available" class="not-available">Not available</p>
          <mat-chip-list *ngIf="product.best_seller">
            <mat-chip color="accent" selected="true">
              <mat-icon>start</mat-icon>Best seller</mat-chip>
          </mat-chip-list>

        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            ADD SHOPPING CART
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</section>