section {
    max-width: 920px;
    margin: 60px auto;
}

i {
    margin-right: 8px;
}

a {
    color: white;
}

.notify {
    background: crimson;
    color: white;
    position: absolute;
    left: 20px;
    width: 15px;
    height: 15px;
    padding: 4px !important;
}

.github-button {
    display: none;
}

.filters {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.filters-form-fields {
    width: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    width: 100%;
}
    
.spacer {
    flex: 1 1 auto;
}
  
.mat-form-field {
    font-size: 14px;
}

.pointer {
    cursor: pointer;
}

mat-card.products {
    margin: 0 20px 20px 0;
}

.not-available {
    color: rgb(244, 67, 54);
}

@media only screen and (min-width: 600px){
    .filters-form-fields {
        width: initial;
    }
    
    .github-button {
        display: initial;
    }

    mat-card.products {
        max-width: 250px;
        margin: 0 20px 20px 0;
    }
}