<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Test FrontEnd Developer</span>
    <span class="example-spacer"></span>
    <!--mat-icon class="example-icon">home</mat-icon-->
  </mat-toolbar-row>
</mat-toolbar>

<section>
  <mat-card>
    <input matInput name="term" [(ngModel)]="product" placeholder="Filter">
    <table class="bordered responsive-table">
      <thead>
        <tr>
          <th></th>
          <th>No.</th>
          <!--th>Name</th-->
          <th class="pointer" (click)="sort('name')">
            Name
            <i class="fas" [ngClass]="{'fa-sort': column != 'name', 'fa-sort-up': (column == 'name' && !isDesc), 'fa-sort-down': (column == 'name' && isDesc) }"
              aria-hidden="true"> </i>
          </th>
          <th class="pointer" (click)="sort('price')">
            Price
            <i class="fas" [ngClass]="{'fa-sort': column != 'price', 'fa-sort-up': (column == 'price' && !isDesc), 'fa-sort-down': (column == 'price' && isDesc) }"
              aria-hidden="true"> </i>
          </th>
          <th>Avalible</th>
          <th>Best seller</th>
          <th>Categories</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let product of products | filter : product | orderBy: {property: column, direction: direction}">
          <td>
            <img mat-card-avatar src="{{product.img}}" alt="{{product.name}}">
          </td>
          <td>
            {{product.id}}
          </td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.avalible}}</td>
          <td>{{product.best_seller}}</td>
          <td>{{product.categories}}</td>
          <td>{{product.description}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</section>